## Tuples Exercise

1. Create first tuple to print the following string, integer, and float (Robert,Canada, 14, 8.5)

In [2]:
tuple1 = ("Robert","Canada",14,8.5)

2. Print the type of the tuple

In [3]:
print(tuple1)

('Robert', 'Canada', 14, 8.5)

3. Print the element on the 1st index in the tuple you created

In [4]:
print(tuple1[0])

Robert

4. Find the length of tuple

In [5]:
len(tuple1)

4

5. Print the last element in the tuple [use negative index]

In [6]:
print(tuple1[-1])

8.5

6. Create a new tuple with tuple2 and print the following (Smith, 4)

In [8]:
tuple2 = ("Smith",4)
tuple2

('Smith', 4)

7. Concatenate both tuples you have created

In [11]:
tuple3 = tuple1 + ("Smith",4)
tuple3

('Robert', 'Canada', 14, 8.5, 'Smith', 4)

### Congratulations, you nailed it!!